.config/zed/conversations
.config/zed/prompts
.config/zed/themes
.config/raycast/extensions/
.config/gh/hosts.yml
.wrangler/
.DS_Store

.config/configstore/update-notifier-netlify-cli.json
.config/crush/
.config/fizzy/
.config/gnuradio/
.config/goose/
.config/gqrx/

# claude binary symlink managed outside dotfiles
.local/bin/claude
