# This is Git's per-user configuration file.
[user]
	name = Pranav Mandava
	email = pranav.techiegeek@gmail.com

[alias]
	yesterday = log --since='yesterday.midnight' --until='midnight' --all --no-merges --oneline --author=pranav.techiegeek@gmail.com
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential "https://origin.cursor.com/git"]
	helper = 
	helper = !/Users/pranav/.local/bin/origin credential-helper
[credential "https://origin.cursor.com"]
	helper = 
	helper = !/Users/pranav/.local/bin/origin credential-helper
